#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/lightgroup.h>
#include <dt-bindings/zmk/color.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                     &kp F13         &kp F14         &kp F15         &kp F16         &kp K_MUTE
                     &kp F17         &kp F18         &kp F19         &kp F20         &kp F21
                     &kp RC(LEFT)    &kp LEFT        &kp K_PP        &kp RIGHT       &kp RC(RIGHT)
                     &kp K_APP       &kp C_AL_DOCS   &kp C_AL_LOCK   &kp C_AL_FILES  &kp C_AL_WWW
                     &kp N1          &kp N2          &kp F22         &kp F23         &kp F24
            >;
        };
    };
    rgbmap {
        compatible = "zmk,ledmap";
        bindings = <  0  1  2  3  4
                      9  8  7  6  5
                     10 11 12 13 14
                     19 18 17 16 15
                     20 21 22 23 24 >;
        default_layer = < LG_DESKTOP  LG_DESKTOP  LG_DESKTOP  LG_DESKTOP  LG_DESKTOP
                          LG_DESKTOP  LG_DESKTOP  LG_DESKTOP  LG_DESKTOP  LG_DESKTOP
                          LG_VOLUME   LG_VOLUME   LG_VOLUME   LG_VOLUME   LG_VOLUME
                          LG_HID      LG_HID      LG_HID      LG_BATTERY  LG_BATTERY
                          LG_LAYER    LG_LAYER    LG_LAYER    LG_ENDPOINT LG_PROFILE >;
        sequence {
            background = < HSV_AMBER >;
            desktop = < HSV_CHARTREUSE HSV_YELLOW HSV_ROSE HSV_VIOLET HSV_AZURE
                        HSV_MAGENTA HSV_VOLTA HSV_CYAN HSV_SPRING HSV_CRIMSON >;
            volume = < HSV_YELLOW HSV_RED >;
            hid = < HSV_RED HSV_GREEN HSV_BLUE >;
            battery = < HSV_WHITE HSV_RED >;
            layer = < HSV_MAGENTA HSV_VOLTA HSV_CYAN HSV_SPRING HSV_CRIMSON >;
            endpoint = < HSV_RED HSV_GREEN HSV_BLUE >;
            profile = < HSV_BLUE HSV_GREEN >;
        };
    };
};