CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_5x5x3=y

CONFIG_ZMK_BLE=y
CONFIG_ZMK_USB=y

# Keyboard Ids
CONFIG_ZMK_KEYBOARD_NAME="5x5x3"
CONFIG_USB_DEVICE_MANUFACTURER="willem@dijkstra.xyz"
CONFIG_BT_DIS_MODEL="5x5x3"
CONFIG_BT_DIS_MANUF="willem@dijkstra.xyz"

# Enable MPU
CONFIG_ARM_MPU=y

# Use pinctrl
CONFIG_PINCTRL=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

CONFIG_ZMK_USB_LOGGING=y
CONFIG_ZMK_RTT_LOGGING=n

CONFIG_SPI=y
CONFIG_SPI_NRFX=y
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_WS2812_STRIP=y
CONFIG_ZMK_RGB_UNDERGLOW_EFF_START=2

CONFIG_SHELL=y
CONFIG_SHELL_TAB=y
CONFIG_SHELL_MINIMAL=y
CONFIG_SHELL_LOG_BACKEND=y
CONFIG_FLASH_SHELL=n
CONFIG_ADC_SHELL=n
CONFIG_SHELL_PROMPT_UART="5x5x3$ "
