config ZMK_KEYBOARD_NAME
    default "5x5x3"

config ZMK_USB
        default y

config ZMK_BLE
        default y

config BT_CTLR
    default BT

config PINCTRL
    default y

config ZMK_LIGHT_GROUP
    bool "Enable light group mode"
    default y

if ZMK_LIGHT_GROUP

config ZMK_LIGHT_GROUP_EXT_POWER
    bool "Underglow toggling also controls external power"
    default y

config ZMK_LIGHT_GROUP_AUTO_OFF_IDLE
    bool "Turn off lightgroup when keyboard goes into idle state"
    default y

config ZMK_LIGHT_GROUP_AUTO_OFF_USB
    bool "Turn off lightgroup when USB is disconnected"
    default y

config ZMK_LIGHT_GROUP_SPEED
    int "Default effect speed (1-255)"
    default 13

config ZMK_LIGHT_GROUP_ON_START
    bool "Default on state"
    default y

config WS2812_STRIP
    default y

config LED_STRIP
    default y

endif # ZMK_LIGHT_GROUP

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

endif # USB

config SPI
    default y