menu "Light Group Options"

config LIGHT_GROUP_INTERVAL_MS
       int "Minimum wait between light group updates"
       default 1

endmenu

DT_COMPAT_ZMK_BEHAVIOR_LIGHT_GROUP := zmk,behavior-light-group

config ZMK_BEHAVIOR_LIGHT_GROUP
       bool
       default y

config ZMK_BEHAVIOR_HSV
       bool
       default y
