# BLE can be on or off
CONFIG_ZMK_BLE=n
CONFIG_ZMK_USB=y

# Keyboard Ids
CONFIG_ZMK_KEYBOARD_NAME="5x5x3"
CONFIG_USB_DEVICE_MANUFACTURER="willem@dijkstra.xyz"
CONFIG_BT_DIS_MODEL="5x5x3"
CONFIG_BT_DIS_MANUF="willem@dijkstra.xyz"

# Enable MPU
CONFIG_ARM_MPU=y

# Use pinctrl
CONFIG_PINCTRL=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_USE_DT_CODE_PARTITION=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

CONFIG_ZMK_USB_LOGGING=y
CONFIG_ZMK_RTT_LOGGING=n

# Configure all we need for ledwork
CONFIG_SPI=y
CONFIG_SPI_NRFX=y
CONFIG_ZMK_RGB_UNDERGLOW=n
CONFIG_ZMK_LIGHT_GROUP=y
CONFIG_ZMK_HID_INDICATORS=y
CONFIG_WS2812_STRIP_SPI=y

# Development settings
CONFIG_STACK_SENTINEL=y
CONFIG_BT_RX_STACK_SIZE=2048
CONFIG_ISR_STACK_SIZE=2048
CONFIG_ZMK_LOW_PRIORITY_THREAD_STACK_SIZE=4096
CONFIG_ZMK_LIGHT_GROUP_AUTO_OFF_IDLE=n

CONFIG_SHELL=y
CONFIG_SHELL_TAB=n
CONFIG_SHELL_MINIMAL=y
CONFIG_SHELL_LOG_BACKEND=y
CONFIG_FLASH_SHELL=n
CONFIG_ADC_SHELL=n
CONFIG_SHELL_PROMPT_UART="5x5x3$ "
